/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
汎用
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a,button{
    cursor: pointer;
    text-decoration: none;
}

h1,h2,h3,h4{
    color:rgba(32, 5 ,5, .8);
}

strong{
    margin-right: 10px;
}

textarea{
    resize: none;
}

.c-section{
    background: #f4f4f4;
    box-shadow: 0 0 5px rgb(255 255 226 / 80%) inset;
    padding: 120px 80px;
}

.c-caption{
    text-align: center;
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    padding: 20px;
}

.c-text{
    font-size: 16px;
    margin-bottom: 15px;
}

.c-label{
    display: block;
    margin: 20px 0;
}

.c-input,.c-textarea{
    background: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    max-width: 500px;
}

.c-link:hover{
    color: rgba(255, 103, 129, 0.8);
    text-decoration: none;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
header
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


.p-header{
    background: rgb(255 255 226 / 80%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 15px;
    width: 100%;
    z-index: 5;
}

.p-logo{
    color: rgba(32, 5 ,5, .8);
    font-size: 21px;
}

.p-header__menu{
    display: none;
}

.p-nav__list{
    color: rgba(32, 5 ,5, .8);;
    display: flex;
}

.p-nav__list--item{
    margin: 0 5px;
}

.p-nav__list--link{
    color: rgba(32, 5 ,5, .8);
    padding: 5px 10px;
}

.p-nav__list--link:hover{
    font-weight: bold;
}



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
hero
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


.p-hero{
    background-color: #5b5b72;
    background-blend-mode: hard-light;
    background-image: url("../images/bread.jpg");
    background-size: cover;
    color: #fff;
    height: 900px;
    opacity: 0.8;
    text-align: center;
}

.p-hero__title{
    color: #fff;
    font-size: 70px;
    margin: 0 0 20px;
    padding-top: 235px;
}

.p-hero__subtitle{
    color: #fff;
    font-size: 35px;
}




/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
staff
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */



.p-user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
}

.p-user__image{
    border-radius: 100%;
    box-shadow: 0 0px 8px 0 black;
    height: 300px;
    width: 300px;
}

.p-user__about{
    margin-left: 60px;
}

.c-text--user{
    font-size: 20px;
}





/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
skill
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


.p-skill{
    background: #fff;
    box-shadow: 0 0 5px #f4f4f4 inset;
}

.p-skill__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto;
    max-width: 1440px;
}

.p-learned{
    border: 3px solid rgb(255 255 226);
    border-radius: 5px;
    margin: 10px 5px;
    width: calc(100% / 4 - 20px);
}

.p-learned__title{
    background: rgb(255 255 226);
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    padding: 5px 0;
    text-align: center;
}

.p-learned__image{
    width: 100%;
    padding: 10px 15px;
}

.p-learned__image--item{
    height: 280px;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
}

.p-learned__about{
    margin: 10px 0;
    padding: 10px 15px;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
contact
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */



.p-contact{
    box-shadow: 0 0 5px #fff inset;
}

.p-contact__contents{
    margin: 80px auto;
    max-width: 980px;
}

.p-form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px #fff;
    padding: 40px 25%;
}

.p-form__title{
    font-size: 22px;
    margin: 40px 0 80px;
    text-align: center;
}

.p-form__wrap--submit{
    overflow: hidden;
    text-align: right;
}

.p-form__submit{
    background: rgba(32, 5 ,5, .8);
    box-shadow: 0 7px 2px rgba(32, 5 ,5, .9);
    color: white;
    font-weight: bold;
    margin: 40px auto 20px;
    max-width: 200px;
    padding: 15px 20px;
    transition: all .5s;
    transform: translateY(-5px);
    width: 50%;
}

.p-form__submit:hover{
    background: rgba(32, 5 ,5, .6);
    box-shadow: none;
    transition: all .5s;
    transform:translateY(5px);
}




/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
access
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */




.p-access{
    background: #fff;
}

.p-access__container{
    display: flex;
    justify-content: space-around;
    margin: 60px auto 0;
}

.p-access__about{
    margin-right: 20px;
}

.p-access__about--text{
    margin-bottom: 15px;
}

.p-access__link{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #eee;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 20px auto;
    padding: 15px 20px;
    width: 100%;
}

.p-access__link--fb{
    background: #39569c;
}

.p-access__link--fb:hover{
    background:  rgba(57, 87, 156, 0.4);
    color: rgba(57, 87, 156, 0.9);
}

.p-access__link--line{
    background: #00B900;
}

.p-access__link--line:hover{
    background:  rgba(0, 185, 0, 0.2);
    color:  rgba(0, 185, 0);
}

.p-access__link--x{
    background: #000;
}

.p-access__link--x:hover{
    background: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.9);;
}

.fa-mgr{
    margin-right: 15px;
}

.fa-x-twitter{
    background: #fff;
    color: #000;
}

.p-access__map--item{
    height: 300px;
    width: 400px;
}




/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
footer
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */



.p-footer{
    background: #181717;
    color: rgb(255 255 226 / 80%);
    padding: 5px 15px;
}

.p-footer__text{
    font-size: 12px;
    text-align: center;
}





/*==============================================================
================================================================

max-width:1000px

================================================================
============================================================== */


@media screen and (max-width:1000px){
    .p-hero__title{
        font-size: 50px;
        margin-bottom: 5px;
    }

    .p-hero__subtitle{
        font-size: 30px;
    }

    .p-user__image{
        height: 200px;
        width: 200px;
    }


    .p-staff{
        padding-bottom: 10px;
    }


    .p-learned{
        width: calc(100% / 3 - 15px);
    }

    .p-learned__image--item{
        max-height: 200px;
        min-height: 150px;
    }
}


/*==============================================================
================================================================

max-width:768px

================================================================
============================================================== */


@media screen and (max-width:768px) {

    .c-section{
        padding: 60px 20px;
    }
    

    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    header
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
    .p-header__menu{
        display: block;
        z-index: 10;
    }

    .p-header__menu--button{
        border: none;
        background: none;
        font-size: 24px;
        height: 35px;
        width: 35px;
    }

    .p-header__menu--icon{
        display: none;
    }

    .p-header__menu--icon.on{
        display: block;
    }

    .fa-xmark{
        color: #fff;
    }

    .p-nav{
        display: none;
    }

    .p-nav.on{
        background: rgba(32, 5 ,5);
        display: block;
        height: 100vh;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
    }

    .p-nav__list{
        display: flex;
        flex-direction: column;
        padding: 60px 0;
        text-align: center;
    }

    .p-nav__list--item{
        margin: 25px 0;
    }

    .p-nav__list--link{
        color: #fff;
    }

    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    hero
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

    .p-hero{
        height: 700px;
    }

    .p-hero__title{
        padding-top: 230px;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .p-hero__subtitle{
        font-size: 20px;
    }


    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    staff
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

    .p-staff{
        padding-bottom: 5px;
    }

    .p-user{
        margin: 50px auto;
        padding: 0 15px;
    }
    
    .p-user__image{
        height: 150px;
        width: 150px;
    }
    
    .p-user__about{
        margin-left: 40px;
    }
    
    .c-text--user{
        font-size: 18px;
    }



    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    skill
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

    .p-learned{
        width: calc(100% / 2 - 15px);
    }

    .p-learned__image--item{
        height: 160px;
        width: 160px;
    }



    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    contact
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
    .p-form{
        padding: 40px 15%;
    }



    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    access
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

    .p-access__container{
        flex-direction: column;
        max-width: 400px;
        width: 100%;
    }

    .p-access__about{
        margin: 20px 0;
    }

    .p-access__map--item{
        width: 100%;
    }

}



/*==============================================================
================================================================

max-width:400px

================================================================
============================================================== */


@media screen and (max-width:400px) {
    .p-hero{
        height: 500px;
    }

    .p-hero__title{
        font-size: 25px;
        margin-bottom: 5px;
        padding-top: 140px;
    }

    .p-hero__subtitle{
        font-size: 17px;
    }


    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    staff
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

    .p-user{
        flex-direction: column;
    }

    .p-user__about{
        margin: 40px 0 0;
    }
    .p-user__image{
        height: 110px;
        width: 110px;
    }

    .c-text--user{
        font-size: 16px;
    }



    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    skill
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

    .p-learned{
        width: calc(100%);
    }

    .p-learned__image--item{
        height: 200px;
        width: 200px;
    }



    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    contact
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
    .p-form{
        padding: 40px 20px;
    }


}
